<!doctype html>
<html ⚡4email data-css-strict>
<head>
  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <style amp4email-boilerplate>body{visibility:hidden}</style>
  <style amp-custom>
    body {
     margin: 0px;
    }  
    
    .input {
      margin: 15px 0px 10px 10px;
    }
    
    .button {
      margin: 15px 0px 10px 10px;
      padding: 10px;
    } 
  </style>
</head>
<body>
 <h2> Hello User,</h2>
<form method="post"
  action-xhr="https://adf3-14-192-1-100.in.ngrok.io/feedback">
  <p>Please submit the form!!!</p>
  <div>
    <input class="input"
      type="text"
      name="name"
      placeholder="Name..."
      required>
    <br>
    <input class="input"
      type="email"
      name="email"
      placeholder="Email..."
      required>
    <br>
    <textarea class="input" name="feedback" rows="4" cols="50" required></textarea>
  </div>
  <input class="button" type="submit"
    value="Submit feedback">
</form>
</body>
</html>